---
import DocumentsCard from "@/components/DocumentsCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Publicactions" description="The description">
  <div class="DocumentsCardsContainer">
    <DocumentsCard />
    <DocumentsCard />
    <DocumentsCard />
    <DocumentsCard />
  </div>
</BaseLayout>

<style lang="scss">
  .DocumentsCardsContainer {
    padding-block: var(--size-7);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-7);
  }
</style>
