---

---

<article class="Article">
  <header class="Article-header">
    <h2 class="Article-title">Publications</h2>
    <span class="Article-title__auxiliar">Insights to Open Minds</span>
  </header>

  <div class="Article-content">
    <p>
      Please select a link below to view chronicles and download selected
      articles:
    </p>

    <div class="Article-content__items">
      <a href="#">Articles & Policy Papers</a>
      <a href="#">Co-Authored and/or Led World Bank Technical Paper Series</a>
      <a href="#">Hearings, Testimonials, Op Eds & Interviews</a>
      <a href="#">Books</a>
    </div>
  </div>
</article>

<style lang="scss">
  .Article {
    padding: var(--size-5);
    border: solid 1px var(--border-strokes-color);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--size-6);

    &-title {
      background-color: var(--primary-color);
      color: white;
      width: fit-content;
      border-radius: var(--border-radius-md);
      padding-block: var(--size-2);
      padding-inline: var(--size-3);
      font-size: var(--size-3);
      text-transform: uppercase;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--size-4);
    
    &__items {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--size-4);
    }
    }
  }
</style>
