---

---

<div class="DocumentsCardsContainer">
	<slot />
</div>

<style lang="scss">
	.DocumentsCardsContainer {
		padding-block: var(--size-16);
		display: flex;
		flex-flow: column nowrap;
		gap: var(--size-12);
	}
</style>
